* {
  background-color: #FFFBF5;
  color: black;
}

.card {
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 32rem;
  padding: 1em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}

.title {
  display: flex;
  justify-content: center;
}